
<div class="row" *ngFor="let post of posts; index as id">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <h1 class="mt-4">{{post.title}}</h1>
      <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->
      
      <p class="lead">{{post.body}}</p>

      
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form>
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      
      <div class="media mb-4" *ngFor="let comment of post.comments; index as id"> 
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
          <h5 class="mt-0">{{comment.name}}</h5>
          {{comment.body}}
        </div>
      </div>
    </div>
</div>

  
